body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    background-color: var(--very-dark-blue-main-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .card {
    background-color: var(--very-dark-blue-line);
    border-radius: 10px;
    padding: 20px;
    width: 315px;
    height: 512px;
}

.container .card .images {
    position: relative;
}

.container .card .images .background-hover {
    position: absolute;
    background-color: var(--cyan-hover);
    width: 100%;
    height: 93%;
    top: 0;
    opacity: 0;
    transition: .4s ease-in-out;
}

.container .card .images .background-hover:hover {
    opacity: 1;
    border-radius: 10px;
}

.container .card .images .background-hover .img-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .card .img-main {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.container .card h1 a {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 15px;
    transition: .3s ease-in-out;
}

.container .card h1 a:hover {
    color: var(--Cyan);
}

.container p {
    color: var(--Soft-blue);
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 300;
}

.container .first-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(116, 140, 150, 0.2);
    margin-bottom: 20px;
}

.container .first-info .eth {
    font-size: 13px;
    display: flex;
}

.container .first-info .days {
    font-size: 13px;
    display: flex;
}

.container .first-info .eth::before {
    content: url(../images/icon-ethereum.svg);
    margin-right: 5px;
}

.container .first-info .days::before {
    content: url(../images/icon-clock.svg);
    margin-right: 5px;
}

.container .first-info .eth {
    color: var(--Cyan);
}

.container .avatar {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.container .avatar img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-top: -2px;
}

.container .avatar .creation {
    margin-right: 10px;
}

.container .avatar a {
    color: var(--white);
    font-size: 15px;
    transition: .3s ease-in-out;
}

.container .avatar a:hover {
    color: var(--Cyan);
}

